@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Boring Bookstore</h1>
    <p class="lead">Boring Bookstore is here to help you find any book you need!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search Books</h2>
        <p>
            Search the Boring Bookstore by book title.
        </p>
        <p><a class="btn btn-default" href="#">Search &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search Authors</h2>
        <p>Search the Boring Bookstore by author.</p>
        <p><a class="btn btn-default" href="#">Search &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Search Genre</h2>
        <p>Search the Boring Bookstore by genre.</p>
        <p><a class="btn btn-default" href="#">Search &raquo;</a></p>
    </div>
</div>